In [1]:
import numpy as np
import pandas as pd
import datetime
import os
import glob
import json
import csv
from CHAID import Tree
import re

In [2]:
# set variables from config file
config_path = os.path.abspath('..')

with open(config_path + '\config-example.json', 'r') as f:
    config = json.load(f)

dataset_path = config['DEFAULT']['dataset_path']
processing_path = config['DEFAULT']['processing_path']
dataset_output_fname = config['DEFAULT']['dataset_output_fname']
dataset_fname_suffix = config['DEFAULT']['dataset_fname_suffix']

In [3]:
# dataset_EDA_fname = config['DEFAULT']['dataset_EDA_fname']
# processing_path = config['DEFAULT']['processing_path']
# dataset_fname_suffix = config['DEFAULT']['dataset_fname_suffix']

In [ ]:
# dtype_dict = {'EventId':'str'}

# client_data = pd.read_csv(os.path.join(dataset_path,dataset_EDA_fname) + dataset_fname_suffix, header = 0, delimiter = ',', dtype=dtype_dict)

### Creating Event type categories function

In [28]:

def eventtype_col(df):          # This function takes in a client153 dataframe and assigns types to the EventType column
    d = {"0": "Others, Group 10",
        "12": "Others, Group 10",
        "14": "Others, Group 1",
        "15": "Others, Group 2",
        "16": "Others, Group 3",
        "17": "Others, Group 4",
        "18": "Others, Group 5",
        "19": "Others, Group 6",
        "20": "Others, Group 7",
        "21": "Others, Group 8",
        "22": "Others, Group 9",
        "23": "Others, Group 10",
        "25": "Others, Group 10",
        "26": "Others, Group 10",
        "27": "Others, Group 10",}

    df["EventType"] = df['EventId'].str[:2].map(d)
    return df

In [ ]:
# y = client_data[client_data['EventId'].str[:2] == '26']
# y['EventName'].unique()

### Import client data and concatenate into a single dataframe

In [ ]:
dataset_filename = os.listdir(dataset_path)     # 2 client documents in path 

dtype_dict = {'EventId':'str'}

tmp_list =[]            # List of dataframes
df_count = 0            # The count of imported dataframes

client_list = ['client_153','client_219']

for fname in dataset_filename:
    for client in client_list:
        if client in fname:
            client_path = os.listdir(f"{dataset_path}")
            print(f"Reading in dataframe {df_count}: {fname}")
            client153 = eventtype_col(pd.read_csv(os.path.join(dataset_path,client_path[0]),
                                        header=0,
                                        delimiter=',',
                                        dtype = dtype_dict))
            client219 = pd.read_csv(os.path.join(dataset_path,client_path[1]),
                                                    header=0,
                                                    delimiter=',',
                                                    dtype = dtype_dict)
            
            #Append the imported dataframe to the list of dataframes
            tmp_list.append(client153)
            tmp_list.append(client219)
            #Increment the counter
            df_count += 1
            
#Concatenate the list of dataframes to a single dataframe
client_data = pd.concat(tmp_list,ignore_index = True)

In [ ]:
client_data

,EventName,StartDate,EventType,BookingReference,AttendeeReference,GroupSize,IsLeadAttendee,AttendeeGrossCost,EventId,BookingStatus,AttendeeType,TicketType,StatusCreatedDate,ClientId
0,Developing Reading and Writing Skills,28/11/2017 00:00,"Others, Group 1",B462687,A514297,1,True,0.0,14983,Registered,Attendee,NaN,11/11/2017 09:15,153.0
1,Teaching Grammar: Classroom choices,13/12/2017 00:00,"Others, Group 1",B462689,A514299,1,True,0.0,14960,Registered,Attendee,NaN,11/11/2017 09:18,153.0
2,Teaching Grammar: Classroom choices,13/12/2017 00:00,"Others, Group 1",B467150,A519135,1,True,0.0,14960,Registered,Attendee,NaN,22/11/2017 17:02,153.0
3,Academic vocabulary: what do students need to ...,19/04/2018 00:00,"Others, Group 2",B533234,A588469,1,True,0.0,15893,Registered,Attendee,NaN,11/04/2018 13:38,153.0
4,Researching the classroom,14/11/2018 00:00,"Others, Group 4",B604614,A662691,1,True,0.0,17350,Registered,Attendee,NaN,15/10/2018 14:33,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658441,Corruption and Standard in British Politics: T...,20/07/2022 17:00,Other Events,IHR1106055,A1178476,1,True,0.0,26428,Attending,Attendee,Standard,12/07/2022 10:04,219.0
658442,Johanna of Austria (1547-1578) – An Austrian A...,18/07/2022 18:00,Seminar,B1106057,A1178478,1,True,0.0,26342,Attending,Attendee,Standard,12/07/2022 10:31,219.0
658443,The Future of History,15/07/2022 18:00,Lecture,IHR1106063,A1178485,1,True,0.0,26117,Attending,Attendee,Standard,12/07/2022 11:16,219.0
658444,Media and Democracy in India: An Insider’s Per...,14/07/2022 10:00,Seminar,B1106065,A1178487,1,True,0.0,26430,Attending,Attendee,Standard,12/07/2022 11:42,219.0
658445,Johanna of Austria (1547-1578) – An Austrian A...,18/07/2022 18:00,Seminar,B1106070,A1178492,1,True,0.0,26342,Attending,Attendee,Standard,12/07/2022 12:36,219.0

### Export Data

In [31]:
# Sort
client_data.sort_values(by=['EventName'])

# export
client_data.to_csv(os.path.join(processing_path,dataset_output_fname) + dataset_fname_suffix,index = False)